@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

.navbar-bottom {
    padding: 10px 20px;
    border-top: 1px solid rgb(216, 216, 216);
}
.text-decoration-none{
    text-decoration: none;
}

.navbar-bottom-shadow {
    box-shadow: -1px -8px 5px 0px rgba(219, 208, 208, 0.71);
    -webkit-box-shadow: -1px -8px 5px 0px rgba(219, 208, 208, 0.71);
    -moz-box-shadow: -1px -8px 5px 0px rgba(219, 208, 208, 0.71);
}

.content-navbar-bottom {
    width: 100%;
}

.link-navbar-bottom a {
    text-decoration: none;
    color: #111;
}

.link-navbar-bottom:hover {
    text-decoration: underline;
}

.link-navbar-bottom.active {
    background-color: #fe3e3e62;
    border-radius: 10px;
    padding: 0px 20px;
}

.service-icon {
    border: 1px solid rgb(216, 216, 216);
    padding: 20px;
    border-radius: 10px;
}
.navbar-app{
    width: 100%;
    padding: 10px;
    background-color: #FE3E3F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar-app .title-app{
    color: #fff;
    font-size: 20px;
}
.font-inter{
    font-family: 'Inter', serif;
}
.navbar-bottom-app{
    padding: 10px 30px;
    background-color: #eee;
}
.anchor-provokasi{
    text-decoration: none;
    color: #111;
}